#photo1
{
	height: 150px;
	width: 100%;
	display: flex;
	/*background-image: url(http://pp09ux8bj.bkt.clouddn.com/photo.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}
#photo1 img
{
	height: 151px;
	width: 375px;
}
#photo2 img
{
	height: 148px;
	width: 100%;
}
#firstz
{
	height: 700px;
	width: 100%;
	background-color: white;
	display: flex;
}
#menu
{
	width: 200px;
	height: 400px;
	background-color: skyblue;
	position: absolute;
	margin-left: 100px;
	top: 100px;
	display: none;
	font-size: 20px;
}
#zleft:hover+#menu
{
	display: block;
}

#zleft
{
	height: 100%;
	flex: 0.3;
	
}

#ht tr
{
	height: 25px;
}
#zright
{
	height: 100%;
	flex: 0.7;
	display: flex;
	flex-direction: column;
}
#zright1
{
	width: 100%;
	flex: 0.34;
	
}
#zright1 img
{
	width:260px ;
	height:230px;
}
#zright2
{
	width: 100%;
	flex: 0.34;
	
}
#zright2 img
{
	width:260px ;
	height: 230px;

	
}
#zright3
{
	width: 95%;
	flex: 0.32;
	border:1px solid black;
	background-color: yellow;
	border-radius: 20%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	animation: name 2s linear infinite;
	
}
.beijing img
{
	width: 100%;
	height: 50px;
}
#waiyu
{
	height: 265px;
	width: 100%;
	background-color: white;
	display: flex;
}
#waiyu1
{
	height: 100%;
	flex: 0.5;
}
#waiyu1 img
{
	width:158px ;
	height: 180px
}
#waiyu2
{
	height: 100%;
	flex: 0.5;
}
#waiyu2 img
{
	width:158px ;
	height: 180px
}
#IT
{
	height: 250px;
	width: 100%;
	background-color: white;
	display: flex;
}
#IT1
{
	height: 100%;
	flex: 0.5;
}
#IT1 img
{
	width:158px ;
	height: 180px
}
#IT2
{
	height: 100%;
	flex: 0.5;
}
#IT2 img
{
	width:158px ;
	height: 180px
}
#xiaoshuo
{
	height: 257px;
	width: 100%;
	background-color: white;
	display: flex;
}
#xiaoshuo1
{
	height: 100%;
	flex: 0.5;
}
#xiaoshuo1 img
{
	width:158px ;
	height: 180px
}
#xiaoshuo2
{
	height: 100%;
	flex: 0.5;
}
#xiaoshuo2 img
{
	width:158px ;
	height: 180px
}
#dianzi
{
	height: 230px;
	width: 100%;
	background-color: white;
	display: flex;
}
#dianzi1
{
	height: 100%;
	flex: 0.5;
}
#dianzi1 img
{
	width:158px ;
	height: 180px
}
#dianzi2
{
	height: 100%;
	flex: 0.5;
}
#dianzi2 img
{
	width:158px ;
	height: 180px
}
#jiu
{
	height: 300px;
	width: 100%;
	background-color: white;
	display: flex;
}
#jiu1
{
	height: 100%;
	flex: 0.5;
}
#jiu1 img
{
	width:158px ;
	height: 180px
}
#jiu2
{
	height: 100%;
	flex: 0.5;
}
#jiu2 img
{
	width:158px ;
	height: 180px
}
#lianxi
{
	width: 100%;
	height: 50px;
	background-color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#last
{
	width: 100%;
	height:30px;
	background-color: white;
	text-align: center;
}
#jiantou
{
	width: 40px;
	height:40px;
	position: fixed;
	top: 600px;
	left: 320px;
	
}
#jiantou img
{
	width: 40px;
	height:40px;
	
}
@-webkit-keyframes name{
	0%{transform:scale(1);background-color:yellow;}
	25%{transform:scale(1.05);background-color:aquamarine ;}
	50%{transform:scale(1.08);background-color:#7CFC00 ;}
	75%{transform:scale(1.05);background-color:violet ;}
	100%{transform:scale(1);background-color:yellow ;}
}