#vipphoto
{
	width: 375px;
	height: 185px;
	background-image: url(http://pp09ux8bj.bkt.clouddn.com/vVIP.jpg);
	background-size: 400px 200px; 
	background-repeat: no-repeat;
	
}
#vipphoto img
{
	width: 119px;
	height: 66px;
	margin-left: 251px;
	
}
#mymsg
{
	width: 100%;
	height: 277px;
	display: flex;
	flex-direction: column;
}
#mymsg1
{
	width: 100%;
	flex: 0.25;
	border-bottom: 1px solid grey;
	display: flex;
	align-items: center;
}
#mymsg2
{
	width: 100%;
	flex: 0.25;
	border-bottom: 1px solid grey;
	align-items: center;
	display: flex;
}
#mymsg2 img
{
	width: 60px;
	height: 60px;
}
#mymsg3
{
	width: 100%;
	flex: 0.25;
	border-bottom: 1px solid grey;
	align-items: center;
	display: flex;
}

#mymsg3 img
{
	width: 60px;
	height: 60px;
}
#mymsg4
{
	width: 100%;
	flex: 0.25;
	border-bottom: 1px solid grey;
	align-items: center;
	display: flex;
}
#mymsg4 a
{
	text-decoration: none;
}
#mymsg4 img
{
	width: 60px;
	height: 60px;
}
#mymsg4 a
{
	margin-left: 165px;
	margin-top: 50px;
}
#stf
{
	width: 75px;
	height: 70px;
	position: fixed;
	top: 440px;
	left: 300px;
	animation: worker 1s linear infinite;
	font-size: 10px;
	text-align: center;
}
#stf img
{
	width: 70px;
	height: 70px;
	
}
@-webkit-keyframes worker{
	0{top:400px;left: 300px;}
	25%{top:395px;left: 300px;}
	50%{top:390px;left: 300px;}
	75%{top:395px;left: 300px;}
	100%{top:400px;left: 300px;}
}

#mymsg2:hover
{
	background-color: pink;
}
