#content
{
	flex:1;
	/*display: flex;
	flex-direction: column;
	align-items: flex-start;*/
	overflow: scroll;
	
}
#content #onemsg
{
	width: 95%;
	height: 50px;
	border-bottom: 1px solid gray;
	display: flex;
	
}
#headphoto
{
	flex: 0.2;
	height: 100%;
	background-image: url(../img/mayun.jpg);
	background-size: 95% 95%;
}
#centermsg
{
	margin-left: 10px;
	flex: 0.6;
	height: 100%;
	display: flex;
	flex-direction: column;
	
}
#centermsg span:first-child
{
	font-size: 18px;
	color: #000000;
}

#centermsg span:nth-child(2)
{
	font-size: 12px;
	color: gray;
}
#rightmsg
{
	flex: 0.2;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 5px;
	
	
}
#rightmsg img
{
	width: 25px;
	height: 25px;
}
