ul
{
	list-style: none;
	color: black;
}
a
{
	text-decoration: none;
	color: black;
}
ul li
{
	width:110px;
	height:40px;
	margin-top: 3px;
	font-size: 18px;
	/*border: 1px solid;*/
	text-align: center;
	line-height: 40px;
	border-radius: 3px;
	transition: background-color 1s;
}
li:hover
{
	background-color:#fa2f2f;
	color: white;
	cursor: pointer;
}
li:hover a
{
	color:white;
}
a:focus li
{
	background-color: red;
}
